:root {
  --color-bg-light: #ddf1f1;
  --color-text: #181616;
  --color-primary: #0cea73;
  --color-accent: #1b2dce;
  --font-main: "Yu Gothic", Meiryo, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-main);
  font-size: 1.1em;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg-light);
  background-image: url("https://img.freepik.com/premium-photo/stunning-backview-soccer-player-getting-ready-free-kick-generative-ai_909576-1170.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1, h2 {
  text-align: center;
  color: #243a54;
  text-shadow: 1px 1px 2px rgba(100, 100, 100, 0.1);
}

h1 {
  font-size: 2.2em;
  margin-top: 4em;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 1em;
}

.content {
  max-width: 900px;
  margin: 4em auto;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(60, 70, 90, 0.1);
  text-align: center;
}